<div class="ui segment basic">

  <div class="ui segments">
    <div class="ui segment" *ngFor="let month of months">

      <div class="ui grid">
        <div class="row">
          <div class="column ten wide">
            {{ month.month }}
          </div>
          <div class="column six wide">
            <a class="ui horizontal label">
              <i class="book icon"></i>
              {{ month.count }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
