<div class="ui basic segment">
  <sui-search
              optionsField="title"
              (input)="onSearchChange($event.target.value)"></sui-search>
</div>


<div class="ui form basic segment">
  <h3>View settings</h3>
  <div class="grouped fields">
    <div class="field">
      <div class="ui toggle checkbox" (click)="switchView($event)">
        <input name="public" type="checkbox">
        <label>compacte view</label>
      </div>
    </div>
    <div class="field">
      <div class="ui toggle checkbox" (click)="showIndividualDates($event)">
        <input name="public" type="checkbox">
        <label>display all dates</label>
      </div>
    </div>
  </div>
</div>

<div class="ui basic segment">
  <div class="ui floating dropdown labeled icon button" suiDropdown>
    <i class="filter icon"></i>
    <span class="text">Category Filter</span>
    <div class="menu" suiDropdownMenu>
      <div class="ui icon search input">
        <i class="search icon"></i>
        <input placeholder="Search tags..." type="text">
      </div>
      <div class="divider"></div>
      <div class="header">
        <i class="tags icon"></i>
        Tag Label
      </div>
      <div class="item" *ngFor="let tag of tags">
        <div class="ui pink empty circular label"></div>
        {{ tag }}
      </div>
    </div>
  </div>
</div>
