<div class="ui pink segment highlight">
  <sui-accordion>
    <sui-accordion-panel>
      <div title>
        <div class="ui middle aligned grid">
          <div class="four wide column "><h2>{{ course.title }}</h2></div>
          <div class="four wide column">{{ course.subtitle }}
          </div>
          <div class="two wide column">
            <div class="ui right floated relaxed list">
              <ng-container *ngIf="showAllDates">
                <div class="item" *ngFor="let date of course.dates">
                  <i class="calendar middle aligned icon"></i>
                  <div class="content">
                    <div class="description">{{ date.datetime | date: 'dd/MM/yyyy'}}</div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!showAllDates">
                <div class="item">
                  <i class="calendar middle aligned icon"></i>
                  <div class="content">
                    <div class="description">{{ course.dates[0].datetime | date: 'dd/MM/yyyy'}}</div>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="two wide right aligned column">
            <h3>
              <i class="student icon"></i>
              {{ course.subscriptions.length }} / {{course.availableplaces}}
            </h3>
          </div>
          <div class="four wide right aligned floated column">
            <button class="ui pink right labeled icon button">
              Subscribe
              <i class="hand peace icon"></i>
            </button>
          </div>
        </div>
      </div>
      <div content class="ui segment basic">
        <div class="row">
          <div class="ui two column grid">
            <div class="column four wide">
              <div class="ui tiny fluid vertical steps">
                <div class="step" *ngFor="let date of course.dates">
                  <i class="calendar icon"></i>
                  <div class="content">
                    <div class="title">{{date.sessionname}}</div>
                    <div class="description">{{ date.datetime | date: 'dd/MM/yyyy'}}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="column nine wide">
              <div class="ui segment basic">
                <img class="ui small left floated image"
                     src="http://www.legobatman.com/assets/media/global/header/batwink-loop.gif">
                <h2>{{ course.title }}</h2>
                <p>
                  {{ course.details }}
                </p>
              </div>
            </div>

            <div class="column three wide center aligned">
              <h2>Participants</h2>
              <div class="ui list">
                <div class="item" *ngFor="let subscriber of course.subscriptions">
                  <img class="ui avatar image"
                       src="http://clipart.info/images/ccovers/1495576485lego-batman-head-png-clipart.png">
                  <div class="content">
                    <a class="header">{{ subscriber.subscribername }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row ui segment basic">
            <a class="ui pink label" *ngFor="let tag of course.tags">{{tag.tagname}}</a>
          </div>
        </div>
      </div>
    </sui-accordion-panel>
  </sui-accordion>
</div>
