<div class="ui container">

  <div class="column ui basic segment">
    <div class="ui right rail">
      <app-training-month-list></app-training-month-list>
    </div>

    <div class="ui left rail">
      <app-training-filter-bar
        [tags]="result"
        (typesearch)="setfilter($event)"
        (viewchange)="changepaddedview()"
        (invidualdate)="changedateview()">
      </app-training-filter-bar>
    </div>

    <h2>Start in januari</h2>
    <div *ngFor="let course of courses | myFilter : 'tagname' : filterparameter" [ngClass]="{'ui segment basic': paddedview }">
    <app-training-overview [course]="course"></app-training-overview>
    </div>


  </div>

</div>

